pandas >= 2.2.1
numpy >= 1.26, < 2.1
matplotlib >= 3.7.1
jupyterlab >= 4.0
torch >= 2.3.0
tiktoken >= 0.5.1
tensorflow >= 2.18.0 # might get an error (on windows) for the tf-filesystem, install manually
tqdm >= 4.66.1
psutil >= 5.9.5